* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

h1 {
    text-align: center;
    padding: 5%;
}

ol {
    padding: 0;
}

ul {
    padding: 0;
}

#menu {
    list-style: none;
}

li {
    /* background-color: aqua; */
    margin-bottom: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}